:root {
    --light-color: rgb(255, 255, 255);
    --dark-color: rgb(0, 0, 0);
    --dark-color-base: rgb(85, 85, 85);

    --typography-primary: 'Montserrat', sans-serif;
    --typography-secondary: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-color-base);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

body {
    margin: 0;
    font-family: var(--typography-secondary);
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.8;
}

h4 {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.6;
    font-family: 'Montserrat';
    margin: 0;
}

p {
    font-size: 1rem;
    height: 1.4;
}

.l-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.l-full-content {
    width: 100%;
}
.cta-black {
    font-size: .7rem;
    display: inline-block;
    margin-top: 1rem;
    padding: 2px 1rem;
    border: 1px solid #ff9500;
    font-weight: 600;
}
.cta-black--large {
    font-size: 1rem;
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 2rem;
    border: 1px solid;
    font-weight: 600;
}



/* ===== HEADER-MENU ===== */

.logo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--dark-color);
}

.header {
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-color);
    /* background-color: var(--dark-color); */
    padding: 0 5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.menu__link {
    display: block;
    padding: 0.5rem;
    color: var(--dark-color);
    font-size: .8rem;
    font-weight: 400;
}

#btn-mobile {
    display: none;
}

/* ===== HEADER-MENU ===== */



/* ===== HERO ===== */
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-position: bottom;
}
.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 0, 222, .95);

}
.hero__home {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--typography-secondary);
    color: var(--light-color);
}

.hero__home::before {
    content: "";
    display: block;
    height: 80px;
    width: 1px;
    margin: 1rem auto;
    background-color: var(--light-color);
}

.hero__title {
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
    color: var(--light-color);
}

.hero__title::after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    background-color: var(--light-color);
    margin: 10px auto;
}

.hero__down {
    position: absolute;
    bottom: .5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: .88rem;
    font-family: var(--typography-secondary);
}

/* ===== HERO ===== */



.b1 {
    background-color: #F0F4F8;
    padding: 7rem 0;
    text-align: center;
}
.b1-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 1rem;
}
.b1__box {
    width: 22%;
    box-shadow: 3px 3px 5px -2px rgb(0 0 0 / 15%), -2px -2px 5px rgb(255 255 255 / 10%), inset -2px -2px 2px rgb(0 0 0 / 20%), inset 5px 5px 5px rgb(255 255 255);
    border-radius: 20px;
}
.b1-header {
    padding: 1rem 0;
}

.b1__calendary {
    margin: 5px auto;
    width: 25px;
    height: 25px;
    display: block;
}
.b1-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.b1__img {
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}
.b1-image:hover .b1__img {
    transform: scale(1.2);
}
.b1-footer {
    padding: 1.5rem 1rem;
}
.b1__title {
    font-weight: 600;
    font-size: 1rem;
}
.b1__date {
    font-weight: 500;
    font-family: var(--typography-secondary);
    font-size: .8rem;
    border-bottom: 1px solid #ff9500;
    padding-bottom: 3px;
}


.b1--white {
    background-color: #fff;
}
.b1__box--border {
    width: 25%;
    outline: 1px solid #999;
    box-shadow: none;
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.b1__text {
    font-size: .8rem;
    margin: 0;
}








.footer {
    border-top: 1px solid #555;
    /* background-color: var(--dark-color); */
    /* color: var(--light-color); */
    text-align: center;
    padding: 1rem 0;
}
.footer__text {
    font-size: .7rem;
    font-family: var(--typography-primary);
    font-weight: 600;
}